<section id="jumbo">
  <div class="container col-xxl-8 px-4">
      <div class="row flex-lg-row-reverse align-items-center g-5 pb-5">
          <div class="col-10 col-sm-8 col-lg-6" data-aos-offset="300" data-aos="fade-right">
              <img src="img/home.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                  height="500" loading="lazy">
          </div>
          <div class="col-lg-6" data-aos-offset="300" data-aos="fade-right">
              <h1 class="display-5 fw-bold lh-1 mb-3">Tulisanmu akan membantu banyak orang</h1>
              <p class="lead">Hallo, Selamat Datang di web sederhana yang saya buat untuk mengisi kegabutan saya dalam
                  liburan kuliah. Web ini adalah Copy dari project laravel 7 dari channel youtube Parsinta.  Tunggu apa lagi ? daftar <a class="text-dark" href="/auth/register">disini</a></p>
          </div>
      </div>
  </div>
</section>


<section class="about py-3">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.freepnglogos.com/uploads/javascript/javascript-online-logo-for-website-0.png" width="200" alt="javascript online logo for website">
    <h1 class="display-5 fw-bold">Fullstack JavaScript Website</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Fullstack JavaScript Website adalah sebuah website yang dibuat menggunakan bahasa JavaScript di segala "Stack"-nya. Mulai dari Database, Server-side, dan User-side</p>
    </div>
  </div>
</section>


<section id="whatAmUsing">
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom"><u>Apa yang saya gunakan ?</u></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h2><i class="fa fa-database"></i> MongoDB</h2>
          <p>MongoDB digunakan untuk tempat menyimpan data-data yang diperlukan </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2><i class="fa fa-terminal"></i> NodeJS</h2>
          <p>NodeJS digunakan sebagai alas dari web ini</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2><i class="fa fa-shipping-fast"></i> ExpressJS</h2>
          <p>ExpressJS digunakan sebagai alat agar NodeJs dapat digunakan untuk mengelola back-end.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#212529" fill-opacity="1" d="M0,288L40,261.3C80,235,160,181,240,176C320,171,400,213,480,202.7C560,192,640,128,720,117.3C800,107,880,149,960,170.7C1040,192,1120,192,1200,197.3C1280,203,1360,213,1400,218.7L1440,224L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>

<section id="footer" class="bg-primary">
  <footer class="text-center text-white bg-dark">
      <!-- Grid container -->
      <div class="container bg-dark">
          <!-- Facebook -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://web.facebook.com/faldinakmoeara"
              role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

          <!-- Twitter -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://twitter.com/faldibule"
              role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

          <!-- Instagram -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://www.instagram.com/faldi.bule/"
              role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram "></i></a>

          <!-- Github -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://github.com/faldibule" role="button"
              data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
          <p>Created with <i class="bi bi-heart-fill text-danger"></i> by Faldi Bule</a></p><br>
      </div>
  </footer>
</section>